body{
    margin: 0px;
    color: rgb(41, 204, 204);
    background-color: rgb(37, 37, 37);
    font-family: sans-serif;
}
.page_wrapper{
    margin: 3rem 7rem;
}
#page_header{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    max-width: 90%;
}

.header{
   color: goldenrod;
}
 
.menu{
    display: flex;
    font: 17px  Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(41, 204, 204);
    align-self: center;
    font-weight: 799;
}

.place{
    color: rgb(41, 204, 204);
    text-decoration: none;
    padding-right: 0.9rem;
}


#extra{
    color:rgb(41, 204, 204);
    text-decoration: none;
    padding-left: 0.9rem;
}

.info_header{
   margin-top: 7rem;
    padding-bottom: 45px;
    font-size: 29px;
    font-family: Tahoma;
    font-weight: 799;
}

.info{
    display: flex;
    justify-content: space-between;
    font-weight: 599;
}

.info_intro{
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
}


.info_1{
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



.info_2{
    font-size: 18px;
    word-spacing: 4%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, 
}

#img{
   margin-top: -10rem;
    width: 35rem;
    height: 35rem;
    border-radius: 10rem;
}

.btn{
   padding: 0.4rem  1.6rem;
   border-radius: 2rem;
   color: rgb(41, 204, 204);
   border: 7px solid rgb(196, 145, 145);
   background-color: rgb(37, 37, 37);
}

.btn_2{
    padding: 0.4rem 1.6rem;
    border-radius: 2rem;
    color: rgb(41, 204, 204);
    background-color: rgb(37, 37, 37);
    border: 7px solid rgb(196, 145, 145);
}

/*------- misson----*/

.message_header{
    border: 7px solid rgb(196, 145, 145);
    margin:3rem 34rem;
    width: 10%;
    padding: 0.2rem 3rem;
    border-radius: 8px;
}

.message_container{
    display: flex;
    margin:3rem 0rem;
}

.message{
   width: 25%;
   padding-top: 10px;
   border: 7px solid rgb(196, 145, 145);
   font-size: 23px;
   margin-left: 5rem;
   padding-right: auto;
   text-align: center;
   word-spacing: 2%;
   border-radius: 8px;
    
}

.contact_box{
    width: 250px;
    border: 7px solid rgb(196, 145, 145);
    border-radius: 10px;
    padding: 1% 1%;
    margin-left: 32rem;
    text-align: center;
}

/*------- Footer --------*/

.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}

.end{
    text-align: center;
}

@media  (max-width:480px) and (min-width:1px){ 
    .body{
    background-color: salmon;
    color: oldlace;
}

.nav-bar{
    display: block;
    padding-right: 20px;
    font-size: 18px;
    display: block;
}

.nav-bar{
    display: block;
    padding-right: 20px;
    font-size: 18px;
    display: block;
}

.place{
    font-size: 11px;
    color: red;
    display: block;
}

.main{
  font-size: 24px;
  padding-left: 47px;
}

.fun{
    padding-left: 44px; 
    font-size: 12px;
}

.woods{
 display: none;
}

#extra{
  display: none;
}

.btn{
    margin-left: -0px;
}
#btn-1{
   margin-left: 50px;
}

.ssoi{
     margin-left: 44px;
     width: 150px;
}

.mis{
    width: 270px;
    margin-left: 37px;
    padding-left: 20px;
}

 .mis-col{
        width: 270px;
        margin-left: 42px;
        margin-top: 5px;
        padding-left: 20px;
 }

 .mis-col3{
     width: 270px;
     margin-left: 38px;
     margin-top: 5px;
     padding-left: 20px;
 }

 .footer{
    margin-left: 89px;
    width: 200px;
    display: none;
}

.cta {
    margin-left:-0px;
    margin-left: 49px;
}

#img{
   width: 13rem;
   height: 18rem;
   margin-top: 5.4rem;
}
}


@media  (max-width:768px) and (min-width:481px){

    .body{
        background-color: rgb(199, 153, 161);
        margin-top: 40px;
        padding-left: 100px;
        margin-right: 900px; 
    }

    .nav-bar{
        padding-right: 30px;
        font-size: 32px;
      display: block;
      color: white;
    }

    .place{
        font-size: 20px;
        display: block;
        color: white;      
    }

    .woods{
     display: none;
    }
    
    #extra{
      display: none;
    }
    
    .main{
        margin-left: 17px;
        border: 3px solid white;
        width: 290px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: -0px;
        font-size: 20px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 }

 .col{
       
    width: 295px;
    padding: 13px 5px;
    
    margin-top: 40px;
 
    border: 3px solid rgb(139, 132, 132);
    display: flex;
    color: blue;
}

.con{
    font-size: 20px;
 
  width: 170px;
  border: 3px solid white;
  margin-top: 30px;
  padding-bottom: -0px;

}

.con-sen{
    margin-left: 80px;
    border: 3px solid white;
    font-size: 20px;
    width: 210px;
    
    margin-bottom: 50px;

  }
  
  #img{
   display: none;
}


.btn{
    display: none;
}
#btn-1{
    padding: 5px 40px;
   margin-left: 30px;
   margin-top: 90px;
   margin-left: -0px;
}

.mis-col3  {
    width: 260px;
   
    margin-left: 30px;
    margin-top: 40px;
}


.ssoi{
    
    margin-left: 5px;
   
}



.mis-col{
    width: 260px;
    margin-top: 30px;
    
    margin-left: 30px;
}

.cta{
  
    margin-left: 30px;
}

.mis{
    width: 290px;
    padding-top: 20px;
    margin-left: 30px;
}


.footer {
    margin-left: 60px;
   display: none;
    width: 210px;
    font-size: 20px;
}
}


@media(max-width:1204px) and (min-width:769px){
    .nav-bar{
          display: block;
     }

     .place{
      
        margin-left: 40px;
    }


    #extra{
        margin-top: 50px;
      
    }

    .ssoi{
        margin-left: 320px;
    }


    .mis{
        width: 540px;
    }


    .cta{
       
        margin-left: 260px;
    }


    .mis-col{
        margin-top: 50px;
        width: 540px;
        margin-left: 130px;
    }

    .mis-col3{
        width: 540px;
        margin-top: 50px;
        margin-left: 130px;
    }
 }







